<% content_for(:page_header) do %>
  <%= "User" %>
<% end %>
<% content_for :panel_heading do %>User List<% end %>
<%= datagrid_form_for @users_grid, :method => :get, :url => users_path %>
<div class='total'>Total: <%= @users_grid.assets.total_count %></div>
<%= datagrid_table @users_grid %>
<%= paginate(@users_grid.assets) %>
